In [283]:
import pandas as pd
import numpy as np

In [284]:
df=pd.read_excel("Bazinga Masterfile.xlsx")
Mapper=pd.read_excel("Mapper detail.xlsx")
Target=pd.read_excel("Target Details.xlsx")
sharepoint=pd.read_excel("Sharepoint Masterfile.xlsx")
Utilisation=pd.read_excel("Utilisation sheet.xlsx")

In [288]:
Utilisation=Utilisation.rename(columns = {'mapper_id': 'mappertemp'}, inplace = False)

In [291]:
alias='@amazon.com'
Utilisation['alias']=alias

In [301]:
Utilisation['mapper_id'] = Utilisation.mappertemp.str.cat(Utilisation.alias)

In [302]:
Utilisation

,activity_day,mapping_date,region_id,marketplace_id,marketplace_name,merchant_id,asin,competitor_name,mapping_status,product_url,...,glance_view_band,gl_name,pg_rollup,mapping_start_time,category_code,manager_id,criteria_name,mapping_duration_seconds,alias,mapper_id
0,2022-01-15,2022-01-15 12:20:46,4,44571,IN,44571101.0,B09PPDVWTZ,Flipkart-IN,ITEM NOT FOUND,Null,...,F,Wireless_Accessory,Hardlines,2022-01-15 12:20:25,35300200,roysuman,Kenora_Manual_Online_IN_HL_MKPL_PM_AB,21,@amazon.com,usirisha@amazon.com
1,2022-01-16,2022-01-16 12:48:49,4,44571,IN,44571101.0,B09B3H6652,BigBasket-IN,ITEM NOT FOUND,Null,...,C,Toys,Hardlines,2022-01-16 12:47:26,2100200,chawarea,Kenora_Manual_Online_IN_Toys_PM-CD,41,@amazon.com,jashalin@amazon.com
2,2022-01-17,2022-01-17 09:14:49,4,44571,IN,830277313.0,B09JX2W8YZ,Paytm-IN,ITEM NOT FOUND,Null,...,E,Apparel,Softlines,2022-01-17 08:41:30,19301400,sbasu,Kenora_Manual_Online_IN_SL_CT_AllGLs_MKPL_Comp...,30,@amazon.com,bhoyarkb@amazon.com
3,2022-01-17,2022-01-17 22:54:48,4,44571,IN,44571.0,B09GWBFCSN,Flipkart-IN,ITEM FOUND,https://www.flipkart.com/lg-24-inch-full-hd-le...,...,C,PC,Hardlines,2022-01-17 22:53:55,14700500,mamathb,Kenora_Manual_Tag_IN_HL_Weekly_Focus,25,@amazon.com,nileranj@amazon.com
4,2022-01-18,2022-01-18 20:33:06,4,44571,IN,44571.0,B08V5C9P1Y,Myntra,INCORRECT_SUGGESTION,https://www.myntra.com/jewellery-set/peora/peo...,...,B,Jewelry,Softlines,2022-01-18 20:30:35,19701400,sbasu,Kenora_Manual_Tag_IN_SL_ARTJAN22_INFrevisit_Li...,9,@amazon.com,araishwa@amazon.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313847,2022-01-18,2022-01-18 16:06:12,4,44571,IN,NaN,B08WPHLDJ7,Flipkart-IN,ITEM NOT FOUND,https://www.flipkart.com/galoof-new-handi-pot-...,...,E,Kitchen,Hardlines,2022-01-18 16:05:38,7902000,mamathb,Kenora_Manual_Online_Hardlines_Flipkart_JANART,35,@amazon.com,akashses@amazon.com
313848,2022-01-19,2022-01-19 12:42:28,4,44571,IN,44571101.0,B08Z3JLFB6,Moglix,ITEM NOT FOUND,Null,...,C,Kitchen,Hardlines,2022-01-19 12:42:26,7906300,mamathb,Kenora_Manual_Online_IN_OHL_Kitchen_AB,2,@amazon.com,gikwk@amazon.com
313849,2022-01-20,2022-01-20 08:43:14,4,44571,IN,NaN,B08SMJTVLF,BigBasket-IN,ITEM NOT FOUND,Null,...,A,Kitchen,Hardlines,2022-01-20 08:42:37,7906300,roysuman,Kenora_Manual_Online_IN_OHL_Kitchen_AB,18,@amazon.com,usirisha@amazon.com
313850,2022-01-20,2022-01-20 19:53:01,4,44571,IN,NaN,UNKNOWN,Flipkart-IN,ITEM NOT FOUND,https://www.flipkart.com/nick-jones-track-pant...,...,F,Mixed,Unknown,NaN,NaN,sbasu,Kenora_Manual_Offline_RMINF,NaN,@amazon.com,smeraj@amazon.com
313851,2022-01-21,2022-01-21 17:44:43,4,44571,IN,NaN,B00P1856LY,Flipkart_WTC,ITEM FOUND,https://www.flipkart.com/sebamed-baby-powder/p...,...,C,Baby,Consumables,NaN,7501000,sbasu,Kenora_Manual Bulk_Offline_Default,NaN,@amazon.com,hddevadi@amazon.com

In [303]:
UTIL = pd.pivot_table(Utilisation, values='mapping_duration_seconds', index=['mapper_id'],
                    aggfunc=np.sum)

In [304]:
UTIL

                     mapping_duration_seconds
mapper_id
aashmodi@amazon.com                     49805
abujame@amazon.com                      87907
adipras@amazon.com                      95487
akashses@amazon.com                     39874
ambinair@amazon.com                         0
...                                       ...
xaswathi@amazon.com                     98841
xkavinas@amazon.com                    160063
yatasanj@amazon.com                    159076
yepranga@amazon.com                     62901
zmaman@amazon.com                       88347

[78 rows x 1 columns]

In [305]:
UTIL["minute"]=1/60

In [306]:
UTIL["inminutes"]=UTIL["mapping_duration_seconds"]*UTIL["minute"]

In [307]:
UTIL2 = pd.pivot_table(UTIL, values='inminutes', index=['mapper_id'],
                    aggfunc=np.sum)

In [308]:
UTIL2

                       inminutes
mapper_id
aashmodi@amazon.com   830.083333
abujame@amazon.com   1465.116667
adipras@amazon.com   1591.450000
akashses@amazon.com   664.566667
ambinair@amazon.com     0.000000
...                          ...
xaswathi@amazon.com  1647.350000
xkavinas@amazon.com  2667.716667
yatasanj@amazon.com  2651.266667
yepranga@amazon.com  1048.350000
zmaman@amazon.com    1472.450000

[78 rows x 1 columns]

In [ ]:
sharepoint=sharepoint.fillna(0)

In [ ]:
alias='@amazon.com'
sharepoint['alias']=alias

In [ ]:
sharepoint['OT Target']=sharepoint["OT details"]*150

In [ ]:
sharepoint=sharepoint.rename(columns = {'Login ID': 'Temp'}, inplace = False)

In [ ]:
sharepoint['Login ID'] = sharepoint.Temp.str.cat(sharepoint.alias)

In [ ]:
selected_columns = sharepoint[["Login ID","OT Target"]]
OTsheet = selected_columns.copy()
OTsheet=OTsheet.rename(columns = {'Login ID': 'mapper_id'}, inplace = False)
OTTarget=OTsheet.groupby(by=["mapper_id"]).sum()

In [ ]:
selected_columns = sharepoint[["Date","Login ID","PL","OMT"]]
SOMT = selected_columns.copy()

selected_columns = sharepoint[["Date","Login ID","PL","Excel"]]
SExcel = selected_columns.copy()

selected_columns = sharepoint[["Date","Login ID","PL","RCI+CI"]]
SRCI = selected_columns.copy()

selected_columns = sharepoint[["Date","Login ID","PL","Audit"]]
SAudit = selected_columns.copy()

selected_columns = sharepoint[["Date","Login ID","PL","RM"]]
SRM = selected_columns.copy()

selected_columns = sharepoint[["Date","Login ID","PL","SMT"]]
SSMT = selected_columns.copy()

selected_columns = sharepoint[["Date","Login ID","PL","Reductions"]]
SReduction = selected_columns.copy()

In [ ]:
mappedtype= "OMT"
SOMT["MAPTYPE"] = mappedtype

mappedtype= "Excel"
SExcel["MAPTYPE"] = mappedtype

mappedtype= "RCI+CI"
SRCI["MAPTYPE"] = mappedtype

mappedtype= "Audit"
SAudit["MAPTYPE"] = mappedtype

mappedtype= "RM"
SRM["MAPTYPE"] = mappedtype

mappedtype= "SMT"
SSMT["MAPTYPE"] = mappedtype


mappedtype= "Reduction"
SReduction["MAPTYPE"] = mappedtype

In [ ]:
SOMT['cc'] = SOMT.PL.str.cat(SOMT.MAPTYPE)
SExcel['cc'] = SExcel.PL.str.cat(SExcel.MAPTYPE)
SRCI['cc'] = SRCI.PL.str.cat(SRCI.MAPTYPE)
SAudit['cc'] = SAudit.PL.str.cat(SAudit.MAPTYPE)
SRM['cc'] = SRM.PL.str.cat(SRM.MAPTYPE)
SSMT['cc'] = SSMT.PL.str.cat(SSMT.MAPTYPE)
SReduction['cc'] = SReduction.PL.str.cat(SReduction.MAPTYPE)

In [ ]:
SOMTMerge=pd.merge(SOMT,Target,on='cc',how='left')
SExcelMerge=pd.merge(SExcel,Target,on='cc',how='left')
SRCIMerge=pd.merge(SRCI,Target,on='cc',how='left')
SAuditMerge=pd.merge(SAudit,Target,on='cc',how='left')
SRMMerge=pd.merge(SRM,Target,on='cc',how='left')
SSMTMerge=pd.merge(SSMT,Target,on='cc',how='left')
SReductionMerge=pd.merge(SReduction,Target,on='cc',how='left')

In [ ]:
Product = SOMTMerge["OMT"]*SOMTMerge["npointspermap"]
SOMTMerge["Totalnpoint"] =Product

Product2 = SExcelMerge["Excel"]*SExcelMerge["npointspermap"]
SExcelMerge["Totalnpoint"] =Product2

Product3 = SRCIMerge["RCI+CI"]*SRCIMerge["npointspermap"]
SRCIMerge["Totalnpoint"] =Product3

Product4 = SAuditMerge["Audit"]*SAuditMerge["npointspermap"]
SAuditMerge["Totalnpoint"] =Product4

Product5 = SRMMerge["RM"]*SRMMerge["npointspermap"]
SRMMerge["Totalnpoint"] =Product5

Product6 = SSMTMerge["SMT"]*SSMTMerge["npointspermap"]
SSMTMerge["Totalnpoint"] =Product6

Product7 = SReductionMerge["Reductions"]
SReductionMerge["Totalnpoint"] =Product7

In [ ]:
frames = [SOMTMerge,SExcelMerge,SRCIMerge,SAuditMerge,SRMMerge,SSMTMerge,SReductionMerge]
Sresult = pd.concat(frames)

In [ ]:
one_hot = pd.get_dummies(df['mapping_status'])

In [ ]:
df = df.drop('mapping_status',axis = 1)

In [ ]:
df = df.join(one_hot)

In [ ]:
Featurecol = df[["mapper_id","IF","INF","RIF","UNKNOWN"]]
Featuresa = Featurecol.copy()

In [ ]:
featuresb=Featuresa.groupby(by=["mapper_id"]).sum()

In [ ]:
total=featuresb["IF"]+featuresb["INF"]+featuresb["RIF"]+featuresb["UNKNOWN"]
featuresb["Totalmappings"] =total

In [ ]:
totalvalid=featuresb["IF"]+featuresb["INF"]
featuresb["Valid Mappings"] =totalvalid

In [ ]:
efficiency=(featuresb["IF"]/featuresb["Valid Mappings"])*100
featuresb["IF Efficiency %"] =efficiency

In [ ]:
featuresb=featuresb.drop(['INF', 'RIF','UNKNOWN'], axis=1)

In [ ]:
CNfea = df[["mapper_id","map_attempt_result"]]
CNfeature = CNfea.copy()

In [ ]:
one_hot = pd.get_dummies(CNfeature['map_attempt_result'])
CNfeature = CNfeature.drop('map_attempt_result',axis = 1)
CNfeature1 = CNfeature.join(one_hot)
CNfea2 = CNfeature1[["mapper_id","CLARIFICATION_NEEDED","COMPETITOR_ISSUE",'REMOTE_CATALOG_ISSUE']]
CNfeaturenew = CNfea2.copy()

In [ ]:
CNfeaturenew1=CNfeaturenew.groupby(by=["mapper_id"]).sum()

In [ ]:
SUM = df["IF"]+df["INF"]
df["Totalmapping"] =SUM

In [ ]:
Merge1=pd.merge(df,Mapper,on='mapper_id',how='left')

In [ ]:
OMT =Merge1.loc[(Merge1['pms_caller_id']=='ThinClient')]
Excel =Merge1.loc[(Merge1['pms_caller_id']=='MapSysToolsOfflineUploader')]
UA =Merge1.loc[(Merge1['pms_caller_id']=='UATool')]

In [ ]:
mappedtype= "OMT"
OMT["MAPTYPE"] = mappedtype

mappedtype2= "Excel"
Excel["MAPTYPE"] = mappedtype2

mappedtype3= "UA"
UA["MAPTYPE"] = mappedtype3

C:\Users\hddevadi\AppData\Local\Temp/ipykernel_12424/3827322494.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OMT["MAPTYPE"] = mappedtype
C:\Users\hddevadi\AppData\Local\Temp/ipykernel_12424/3827322494.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Excel["MAPTYPE"] = mappedtype2

In [ ]:
OMT['cc'] = OMT.PL.str.cat(OMT.MAPTYPE)
Excel['cc'] = Excel.PL.str.cat(Excel.MAPTYPE)
UA['cc'] = UA.PL.str.cat(UA.MAPTYPE)

C:\Users\hddevadi\AppData\Local\Temp/ipykernel_12424/1163328040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OMT['cc'] = OMT.PL.str.cat(OMT.MAPTYPE)
C:\Users\hddevadi\AppData\Local\Temp/ipykernel_12424/1163328040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Excel['cc'] = Excel.PL.str.cat(Excel.MAPTYPE)

In [ ]:
OMTMerge=pd.merge(OMT,Target,on='cc',how='left')
ExcelMerge=pd.merge(Excel,Target,on='cc',how='left')
UAMerge=pd.merge(UA,Target,on='cc',how='left')

In [ ]:
Product = OMTMerge["Totalmapping"]*OMTMerge["npointspermap"]
OMTMerge["Totalnpoint"] =Product

Product2 = ExcelMerge["Totalmapping"]*ExcelMerge["npointspermap"]
ExcelMerge["Totalnpoint"] =Product2

Product3 = UAMerge["Totalmapping"]*UAMerge["npointspermap"]
UAMerge["Totalnpoint"] =Product3

In [ ]:
frames = [OMTMerge,ExcelMerge,UAMerge]
result = pd.concat(frames)

In [ ]:
Selected_columns = Sresult[["Date","Login ID","PL_x","Totalnpoint"]]
SResult2 = Selected_columns.copy()

In [ ]:
Sresult_tidy = SResult2.rename(columns = {'Date': 'event_date', 'Login ID': 'mapper_id'}, inplace = False)

In [ ]:
Selected_columns1 = result[["event_date","mapper_id","PL_x","Totalnpoint"]]
Result3 = Selected_columns1.copy()

In [ ]:
frames = [Result3,Sresult_tidy]
Finalresult = pd.concat(frames)

In [257]:
Selected_columns1 = Utilisation1[["mapper_id"]]
Result4 = Selected_columns1.copy()

In [258]:
Result4

                  mapper_id
0       usirisha@amazon.com
1       jashalin@amazon.com
2       bhoyarkb@amazon.com
3       nileranj@amazon.com
4       araishwa@amazon.com
...                     ...
313850  akashses@amazon.com
313851     gikwk@amazon.com
313852  usirisha@amazon.com
313853    smeraj@amazon.com
313854  hddevadi@amazon.com

[313855 rows x 1 columns]

In [262]:
Result4=Result4.fillna(0)

In [265]:
Result4=Result4.drop_duplicates(subset="mapper_id")

In [267]:
Result4.to_csv("Result4.csv")

In [ ]:
result2 = pd.pivot_table(Finalresult, values='Totalnpoint', index=['mapper_id'],
                    columns=['event_date'], aggfunc=np.sum)

In [ ]:
result3 = pd.pivot_table(Finalresult, values='Totalnpoint', index=['mapper_id'],
                    aggfunc=np.sum)

In [ ]:
Mergedoutput=pd.merge(result2,result3,on='mapper_id',how='left')

In [ ]:
Mergedcount=Mergedoutput.loc[:,~Mergedoutput.columns.isin(['mapper_id','Totalnpoint','Working days'])]

In [ ]:
Mergedoutput['Working days']=Mergedcount.count(axis=1)

In [ ]:
Mergedoutput
Mergedoutputtemp=pd.merge(Mergedoutput,OTTarget,on='mapper_id',how='left')
Mergedoutput=Mergedoutputtemp

In [ ]:
Mergedoutput["Targetnpoints"]=(Mergedoutput['Working days']*1200)+Mergedoutput["OT Target"]

In [ ]:
Mergedoutput["Variance"]=Mergedoutput['Totalnpoint']-Mergedoutput['Targetnpoints']

In [ ]:
Mergedoutput["%Variance"]=(Mergedoutput['Variance']*100)/Mergedoutput['Targetnpoints']

In [ ]:
Mergedoutput=Mergedoutput.fillna('Leave')

In [ ]:
Merge6=pd.merge(featuresb,CNfeaturenew1,on='mapper_id',how='left')
Mergedoutput=pd.merge(Mergedoutput,Merge6,on='mapper_id',how='left')

In [ ]:
Mergedoutput.drop(['hddevadi'], inplace = True )

In [ ]:
Mergedoutput2=pd.merge(Mergedoutput,Mapper,on='mapper_id',how='left')

In [ ]:
Mergedoutput2

,mapper_id,2022-01-03 00:00:00,2022-01-04 00:00:00,2022-01-05 00:00:00,2022-01-06 00:00:00,2022-01-07 00:00:00,2022-01-10 00:00:00,2022-01-11 00:00:00,2022-01-12 00:00:00,2022-01-13 00:00:00,...,%Variance,IF,Totalmappings,Valid Mappings,IF Efficiency %,CLARIFICATION_NEEDED,COMPETITOR_ISSUE,REMOTE_CATALOG_ISSUE,PL,Name
0,jmarijit@amazon.com,1515.337823,1546.558636,1488.815699,1432.657442,1350.63303,1561.041721,1310.056295,1149.056663,1453.706529,...,13.217191,3167.0,13250.0,12780.0,24.780908,0,1,181,Media,Arijit Mondal
1,paramzna@amazon.com,1177.324986,Leave,Leave,796.626506,1056.86747,1368.0,1222.276319,1462.734782,1532.233388,...,2.839946,741.0,11232.0,10738.0,6.900726,0,60,157,Media,Parameshwar Nayak
2,snshsha@amazon.com,1334.939759,Leave,1269.972116,1217.349398,Leave,475.108434,1277.529331,787.554059,Leave,...,-11.99568,229.0,9580.0,9399.0,2.436429,0,0,80,Media,Shashank Sharma
3,tulvenka@amazon.com,1401.178513,1435.662651,1357.590361,1335.360657,1267.710843,1376.240333,1353.758089,1410.686589,Leave,...,7.650508,708.0,12421.0,12087.0,5.857533,0,7,209,Media,Tulam Venkata Sainadh

In [ ]:
cols = Mergedoutput2.columns.tolist()

In [ ]:
cols = cols[-2:] + cols[:-2]

In [ ]:
cols

['PL',
 'Name',
 'mapper_id',
 Timestamp('2022-01-03 00:00:00'),
 Timestamp('2022-01-04 00:00:00'),
 Timestamp('2022-01-05 00:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2022-01-07 00:00:00'),
 Timestamp('2022-01-10 00:00:00'),
 Timestamp('2022-01-11 00:00:00'),
 Timestamp('2022-01-12 00:00:00'),
 Timestamp('2022-01-13 00:00:00'),
 Timestamp('2022-01-14 00:00:00'),
 Timestamp('2022-01-15 00:00:00'),
 Timestamp('2022-01-16 00:00:00'),
 Timestamp('2022-01-17 00:00:00'),
 Timestamp('2022-01-18 00:00:00'),
 Timestamp('2022-01-19 00:00:00'),
 Timestamp('2022-01-20 00:00:00'),
 Timestamp('2022-01-21 00:00:00'),
 'Totalnpoint',
 'Working days',
 'OT Target',
 'Targetnpoints',
 'Variance',
 '%Variance',
 'IF',
 'Totalmappings',
 'Valid Mappings',
 'IF Efficiency %',
 'CLARIFICATION_NEEDED',
 'COMPETITOR_ISSUE',
 'REMOTE_CATALOG_ISSUE']

In [ ]:
Mergedoutput = Mergedoutput2[cols]

In [ ]:
left_aligned_df = Mergedoutput.style.set_properties(**{'text-align': 'center'})

In [ ]:

writer = pd.ExcelWriter('Productivity Report.xlsx', engine='xlsxwriter')


left_aligned_df.to_excel(writer, sheet_name='Sheet1')


workbook  = writer.book
worksheet = writer.sheets['Sheet1']


format1 = workbook.add_format({'bg_color': '#FFC7CE',
                               'font_color': '#9C0006'})


format2 = workbook.add_format({'bg_color': '#CAFF70',
                               'font_color': '#292421'})

format3 = workbook.add_format({'bg_color': '#FFFF00',
                               'font_color': '#000000'})


start_row = 1
start_col = Mergedoutput.shape[1]-7
end_row = len(Mergedoutput)
end_cold = start_col

start_row2 = 1
start_col2 = Mergedoutput.shape[1]-3
end_row2 = len(Mergedoutput)
end_cold2 = start_col2

start_row3 = 1
start_col3 = Mergedoutput.shape[1]-2
end_row3 = len(Mergedoutput)
end_cold3 = start_col3

start_row4 = 1
start_col4 = Mergedoutput.shape[1]-1
end_row4 = len(Mergedoutput)
end_cold4 = start_col4

start_row5 = 1
start_col5 = Mergedoutput.shape[1]
end_row5 = len(Mergedoutput)
end_cold5 = start_col5

start_row6 = 1
start_col6 = 0
end_row6 = len(Mergedoutput)
end_cold6 = Mergedoutput.shape[1]


worksheet.conditional_format(start_row, start_col, end_row, end_cold,
                             {'type':     'cell',
                              'criteria': '<',
                              'value':    '0',
                              'format':   format1})

worksheet.conditional_format(start_row, start_col, end_row, end_cold,
                             {'type':     'cell',
                              'criteria': '>',
                              'value':    0,
                              'format':   format2})

worksheet.conditional_format(start_row2, start_col2, end_row2, end_cold2,
                             {'type':     'cell',
                              'criteria': '<',
                              'value':    5,
                              'format':   format1})

worksheet.conditional_format(start_row3, start_col3, end_row3, end_cold3,
                             {'type':     'cell',
                              'criteria': '>',
                              'value':    50,
                              'format':   format1})

worksheet.conditional_format(start_row4, start_col4, end_row4, end_cold4,
                             {'type':     'cell',
                              'criteria': '>',
                              'value':    200,
                              'format':   format1})

worksheet.conditional_format(start_row5, start_col5, end_row5, end_cold5,
                             {'type':     'cell',
                              'criteria': '>',
                              'value':    150,
                              'format':   format1})

worksheet.conditional_format(start_row6, start_col6, end_row6, end_cold6,
                             {'type':     'cell',
                              'criteria': 'equal to',
                              'value':    '"Leave"',
                              'format':   format3})





                    









writer.save()